#testimonials {
  display: flex;
  align-items: center;
  gap: 2.8125rem;
  padding: 6.25rem;
  padding-bottom: 25rem;
  position: relative;
  background: $main-bg;

  @media screen and (max-width: 75rem) {
    padding: 6.25rem 3.125rem;
    padding-bottom: 25rem;
  }

  @media screen and (max-width: 62rem) {
    padding: 6.25rem 3.125rem;
    padding-bottom: 25rem;
  }

  @media screen and (max-width: 48rem) {
    flex-direction: column;
    padding: 6.25rem 3.125rem;
    padding-bottom: 25rem;
  }

  .testimonials__quotes {
    position: absolute;
    top: 9%;
    left: 6%;
    z-index: 1;

    @media screen and (max-width: 48rem) {
      top: 6%;
    }
  }

  .testimonials__item {
    background: $testimonials-bg;
    color: $white;
    border-radius: 0.3125rem;
    padding: 1.875rem;
    z-index: 10;

    .testimonials__quote {
      line-height: 1.5;
      margin-bottom: 1.875rem;

      @media screen and (max-width: 36rem) {
        font-size: 0.75rem;
      }
    }

    .testimonials__person {
      display: flex;
      align-items: center;
      gap: 0.9375rem;

      .testimonials__avatar {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
      }

      .testimonials__info {
        .testimonials__name {
          @media screen and (max-width: 62rem) {
            font-size: 0.75rem;
          }

          @media screen and (max-width: 48rem) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
